// Colors
$light: #f5e4c6;
$dark: #333;

// Global styles

.container {
  max-width: 1000px;
  // border: 5px solid red;
}

.container-fluid {
  width: 100%;
  background-color: tomato;
  padding: 0 50px;
}

body {
  background-color: #fafafa;
  color: $dark;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: $dark;
  color: $light;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

li {
  font-size: 1.3em;
  text-align: center;
  padding-left: 0;
  display: inline-block;
  width: 17%;
  margin-right: 30px;
  &:first-of-type {
    text-transform: uppercase;
    font-family: 'Arvo';
    font-weight: bold;
    letter-spacing: 0.02em;
  }
}

input {
  font-size: 0.9em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $dark;
  transition: all 0.3s ease-in-out;
  &:focus {
    border: 1px solid lighten($dark, 50%);
    outline: none;
  }
}

.bg-success {
  background-color: darken($light, 6%);
}

// Login area
.login {
  margin: 10px 0 0 10px;
  // clear: both;
}

// NAVBAR LAYOUT

.navbar {
  border: 5px solid red;
  height: 125px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  .navbar-brand {
    height: inherit;
    padding: 0;
    border: 5px solid mistyrose;
    img {
      border: 5px solid thistle;
      width: 100px;
      height: 100px;
      vertical-align: middle;
    }
  }
  .navbar-right {
    background-color: mistyrose;
    height: 100%;
    line-height: 7em;
    // float: right;
    // align-self: flex-end;
    vertical-align: middle;
    // padding-top: 50%;
  }
}

// navbar
// container
// fluid
// navbar
// header
// navbar
// brand
// navbar
// right

// Logo/top of container area
.logo {
  display: block;
  margin: 50px auto;
  width: 500px;
  @media (max-width: 550px) {
    width: 300px;
  }
}

.filter {
  height: 30px;
  margin-bottom: 30px;
  outline: none;
  margin-left: 50%;
  transform: translateX(-50%);
}

.price {
  font-weight: bold;
  font-family: 'Arvo';
  font-size: 1.5em;
}

//NEW ANIMAL
new-animal {
  clear: both;
  input {
    margin-bottom: 5px;
    display: block;
  }
  button {
    margin: 10px 0 20px 0;
    padding: 10px;
    font-size: 1.2em;
  }
}

//EDIT Animal
.employeePermission-wrapper {
  display: flex;
  justify-content: space-around;
}

edit-animal {
  @extend new-animal;
  h1 {
    margin-top: 0;
  }
  .pints-available {
    padding: 0 10px;
    width: 60px;
    height: 30px;
  }
}
.edit-animal-button {
  margin-right: 40px;
}

// Animal list
.card {
  background-color: darken($light, 10%);
  border: 5px solid $light;
  padding: 0 20px;
  height: 400px;
  font-size: 1.1em;
  overflow-y: scroll;
  .card-title {
    background-color: tomato;
    padding: 10px;
    font-size: 1.5em;
  }
}

// Footer layout
app-root {

}

footer-layout {
  display: block;
  background-color: red;
  clear: both;
  margin-bottom: 0;
}
